In [79]:
import pandas as pd
import numpy as np

In [80]:
# upload dataframe and get rid of columns that are not needed
kc_house_data = pd.read_csv("kc_house_data.csv")
kc_house_data = kc_house_data.drop(columns=["id", "date", "zipcode"])

In [81]:
kc_house_data.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

### Question 1

In [82]:
# For each feature, write code to compute the average value, 
# the min and max values, as well as its variance.

def stats(df):
    dict_1 = {}
    for column_name, column_values in df.items():
        if column_values.dtype in ["int64", "float64"]:
             average_score = float(column_values.mean())
             min_score = column_values.min()
             max_score = column_values.max()
             variance_score = column_values.var()
             dict_1[column_name] = {'average': average_score,
                                    'min': min_score,
                                    'max': max_score,
                                    'variance': variance_score}
    return dict_1

In [83]:
# applies my function
kc_house_data_1 = stats(kc_house_data)

In [84]:
# the lowest and the highest average
averages = {col: vals["average"] for col, vals in kc_house_data_1.items()}

min_col = min(averages, key=averages.get)
max_col = max(averages, key=averages.get)

min_avg = averages[min_col]
max_avg = averages[max_col]

print(min_col, min_avg)
print(max_col, max_avg)

long -122.21389640494147
price 540088.1417665294

In [85]:
# Finds the highest and lowest variances 
variances = {columns: values["variance"] for columns, values in kc_house_data_1.items()}
min_col = min(variances, key=variances.get)
max_col = max(variances, key=variances.get)

min_var = variances[min_col]
max_var = variances[max_col]

print(min_col, min_var)
print(max_col,max_var )

waterfront 0.007485225502689098
price 134782378397.24681

In [86]:
# Compute the correlation coefficient of each feature with the response
price_table = kc_house_data.corr()[["price"]]
price_table = price_table.drop("price")
price_table = price_table.sort_values(by= 'price', ascending=False)
price_table = price_table.reset_index().rename(columns={'index': 'Features'})

In [87]:
price_table

         Features     price
0     sqft_living  0.702035
1           grade  0.667434
2      sqft_above  0.605567
3   sqft_living15  0.585379
4       bathrooms  0.525138
5            view  0.397293
6   sqft_basement  0.323816
7        bedrooms  0.308350
8             lat  0.307003
9      waterfront  0.266369
10         floors  0.256794
11   yr_renovated  0.126434
12       sqft_lot  0.089661
13     sqft_lot15  0.082447
14       yr_built  0.054012
15      condition  0.036362
16           long  0.021626